certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.4
commonmark==0.9.1
dataclasses==0.6
Flask==2.0.3
gunicorn==20.1.0
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
psutil==5.9.4
Pygments==2.14.0
pyreadline3==3.4.1
requests==2.27.1
rich==12.6.0
typing_extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.2.3
zipp==3.6.0
