*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}

body {
    min-width: 100vw;
}

body > div {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    gap: 10rem;
}

body > div > nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

header > h1 {
    align-self: flex-start;

}

article, form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

p {
    padding: 1rem;
}


form {
    align-items: flex-start;
}

button {
    appearance: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 0.375rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

section {
    margin: 0.5rem;
    padding: 0.5rem;
}

ul {
    padding: 1rem 2rem 0 3rem
}

ul ul { 
    padding: 0 0 0 1rem 
}

.container > nav {
    display: flex;
    justify-content: space-around;
}

.page-nav {
    background-color: blue;
    padding-left: 1rem;
    padding-right: 1rem;

}

.invisible {
    display: none;
}

.placeholder {
    opacity: 0.5
}

.spin {
    animation: spinning 1.8s linear infinite;
    border: 8px solid black;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.tree {
    --spacing: 1.5rem;
    --radius: 10px;
}

.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);

}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.tree ul li {
    border-left: 2px solid #ddd

}

.tree ul li:last-child {
    border-color: transparent
}

.tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ddd;
    border-width : 0 0 2px 2px;
  }

  .tree summary{
    display : block;
    cursor  : pointer;
  }
  
  .tree summary::marker,
  .tree summary::-webkit-details-marker{
    display : none;
  }
  
  .tree summary:focus{
    outline : none;
  }
  
  .tree summary:focus-visible{
    outline : 1px dotted #000;
  }