{% extends 'base.html' %}

{% block content %}
    <div>
        <h4>Octo-Web is a prototype for an interface for Octosuite developed for Bellingcat's April 2023 hackathon.</h4>
        <p>Octosuite is a framework for gathering open-source intelligence on Github users,repositories and organisations.</p> 
        <p> The original tool was developed by <a href="https://github.com/rl0nheart">Richard Mwewa</a>. Octo-Web is based on his sterling work.</p>
        <p>If you want to read further you should visit the Github repository <a href="https://github.com/bellingcat/octosuite">here</a>.</p>
        <p>Special thanks also goes to <a href="https://iamkate.com">Kate Morley</a> whose content I relied on to remain faithful to Octosuite's tree rendering.</p>
    </div>
{% endblock %}